// media query breakpoints



$break-small: 320px;
$break-medium: 599px;
$break-large: 1200px;


$primary-color: #43586a;
$bright-color: #fe7257;
$fade-color: #fff6ed;
$pop-up-background: #e6e7e8;
$border-color: #cbd3de;
$line-color: #84d7fe;


$title-font: '"MontserratRegular", "Helvetica Neue", Helvetica, sans-serif';
$text-font:  '"MontserratRegular", "Helvetica Neue", Helvetica, sans-serif';




$information-phone: "only screen and (max-width : 500px)";
$information-tablet: "only screen and (max-width : 980px)";
$information-desktop: "only screen and (max-width : 1380px)";


